.App {
  text-align: center;
  display : flex;
  flex-direction : column-reverse;
  font-size: 16.5px;
}


.App-header {
  background-color: #282c34;
  height: 100vh ;
display: flex;
flex-direction: column-reverse;
align-items: center;
width: 100vw;
  color: white;
  overflow-y: scroll;
}
.Login input{
margin : 0.5rem;
padding : 5px;
height: 2rem;
outline-width: 0;
border : none;
}


