.App {
  text-align: center;
  display : flex;
  flex-direction : column-reverse;
  
}


.App-header {
  background-color: #282c34;
  height: 100vh ;
display: flex;
flex-direction: column-reverse;
width: 100vw;
  color: white;
  overflow-y: scroll;
}


